version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    rebase-strategy: "disabled"
    schedule:
      interval: weekly
      day: "saturday"
      time: "03:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 30
    groups:
      vuepress:
        patterns:
          - "*vuepress*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "@eslint/*"
          - "@eslint-community/*"
          - "@typescript-eslint/*"
          - "yaml-eslint-parser"
    labels:
      - "dependencies"
      - "javascript"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    versioning-strategy: increase

  - package-ecosystem: "github-actions"
    directory: "/"
    rebase-strategy: "disabled"
    schedule:
      interval: weekly
      day: "saturday"
      time: "03:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "github-actions"
