name: e2e:run:tests

on: push

jobs:
  e2e-tests:
    name: Run all E2E tests
    runs-on: ubuntu-latest
    steps:
      - name: Set Node version
        uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402 # v6.0.0
        with:
          node-version: '>=22.15.0'

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: E2E - Run all tests
        id: e2e-run
        uses: cypress-io/github-action@v6

      - name: E2E | if tests failed, compile html report
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        run: |
          cd cypress/
          npx tsx create-cucumber-html-report.ts

      - name: Get PR number
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        uses: jwalton/gh-find-current-pr@master
        id: pr-number

      - name: E2E | if tests failed, upload report
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: boilerplate-e2e-test-report-pr-${{ steps.pr-number.outputs.pr }}
          path: /home/runner/work/boilerplate-e2e-cypress-cucumber/boilerplate-e2e-cypress-cucumber/cypress/reports/e2e_html_report
