name: e2e:run:tests

on: push

jobs:
  e2e-tests:
    name: Run all E2E tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set Node version
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.0.0
        with:
          node-version-file: '.tool-versions'

      - name: E2E - Run all tests
        id: e2e-run
        uses: cypress-io/github-action@v6

      - name: E2E | if tests failed, compile html report
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        run: |
          cd cypress/
          npx tsx create-cucumber-html-report.ts

      - name: Get PR number
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        uses: jwalton/gh-find-current-pr@master
        id: pr-number

      - name: E2E | if tests failed, upload report
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: boilerplate-e2e-test-report-pr-${{ steps.pr-number.outputs.pr }}
          path: /home/runner/work/boilerplate-e2e-cypress-cucumber/boilerplate-e2e-cypress-cucumber/cypress/reports/e2e_html_report
