name: e2e:test:lint code with defined linters

on: push

jobs:
  files-changed:
    name: Detect File Changes
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.changes.outputs.e2e-all }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check for frontend file changes
        uses: dorny/paths-filter@v3.0.2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml
          list-files: shell

  lint:
    if: needs.files-changed.outputs.changes == 'true'
    name: Lint - E2E files
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set Node version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.0.0
        with:
          node-version-file: '.tool-versions'

      - name: E2E files | Lint
        run: npm install && npm run test:lint:eslint
